@page
@model Maxicycles.Pages.Basket.AddProductModel

@{
    ViewData["Title"] = "AddProduct";
}

<h1>AddProduct</h1>

<h4>BasketItem</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BasketProduct.Quantity" class="control-label"></label>
                <input asp-for="BasketProduct.Quantity" class="form-control" min="1"/>
                <span asp-validation-for="BasketProduct.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasketProduct.Item.Title" class="control-label"></label>
                <p>@Model.BasketProduct.Item.Title</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>