@page
@model Maxicycles.Pages.Basket.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BasketItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BasketItem.Id" />
            <div class="form-group">
                <label asp-for="BasketItem.Quantity" class="control-label"></label>
                <input asp-for="BasketItem.Quantity" class="form-control" />
                <span asp-validation-for="BasketItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasketItem.ItemId" class="control-label"></label>
                <select asp-for="BasketItem.ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
                <span asp-validation-for="BasketItem.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasketItem.MaxicyclesUserId" class="control-label"></label>
                <select asp-for="BasketItem.MaxicyclesUserId" class="form-control" asp-items="ViewBag.MaxicyclesUserId"></select>
                <span asp-validation-for="BasketItem.MaxicyclesUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

