@page
@model Maxicycles.Pages.Admin.Holidays.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Holiday</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Holiday.Title" class="control-label"></label>
                <input asp-for="Holiday.Title" class="form-control"/>
                <span asp-validation-for="Holiday.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holiday.Start" class="control-label"></label>
                <input asp-for="Holiday.Start" class="form-control"/>
                <span asp-validation-for="Holiday.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holiday.End" class="control-label"></label>
                <input asp-for="Holiday.End" class="form-control"/>
                <span asp-validation-for="Holiday.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>