@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="text-center mt-5">Welcome to MaxiCycles!</h1>
    <p class="lead text-center">Your one-stop destination for all things cycling and skateboarding.</p>
    <p class="text-center">Whether you're a passionate cyclist, an avid skateboarder, or simply looking to explore new ways to have fun and stay active, we've got you covered.</p>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h2>Bicycles</h2>
        <p>Explore our extensive collection of bicycles, ranging from sleek road bikes built for speed, rugged mountain bikes ready to conquer any trail, stylish urban cruisers for commuting, to fun and colorful kids' bikes for little adventurers. Whatever your cycling style or level of expertise, we have the perfect ride to match your needs.</p>
      </div>
      <div class="col-lg-6">
        <h2>Skateboards</h2>
        <p>Skateboarding enthusiasts will be thrilled by our diverse range of skateboards, longboards, and electric skateboards. Cruise along the streets with style, master tricks and flips at the skate park, or embark on thrilling downhill adventures. Our skateboarding collection caters to riders of all ages and skill levels, so whether you're a beginner or a seasoned pro, get ready to shred and carve to your heart's content.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h2>Bike Repairs</h2>
        <p>But it doesn't end there! MaxiCycles is not just about selling bikes and skateboards; we're here to support your passion for cycling and skateboarding. Our team of experienced technicians offers professional bike repair services, ensuring that your beloved two-wheeler is in top-notch condition. From basic tune-ups to comprehensive overhauls, we'll have your bike running smoothly and safely, ready to hit the road or trail.</p>
      </div>
      <div class="col-lg-6">
        <h2>Exceptional Service</h2>
        <p>We are committed to providing exceptional customer service and a seamless shopping experience. Our knowledgeable staff is here to assist you in choosing the perfect bike or skateboard, answering your questions, and guiding you towards the gear and accessories that suit your individual needs.</p>
      </div>
    </div>

    <div class="text-center mt-5">
      <p class="lead">At MaxiCycles, we believe in the power of cycling and skateboarding to bring joy, fitness, and adventure into your life. Join our community of passionate riders, discover new horizons, and make unforgettable memories along the way.</p>
      <p>Start your journey with MaxiCycles today and let the thrill of cycling and skateboarding ignite your spirit!</p>
    </div>
  </div>