<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Maxicycles</title>
    <link rel="stylesheet" href="~/scss/custom.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Maxicycles.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 mb-4">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand p-2" asp-page="/Products/Index">
                <img alt="maxicycles logo" src="~/images/logo.svg" height="60px"/>
                Admin
            </a>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Store
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-page="/Admin/Store/Products/Index">Products</a></li>
                            <li><a class="dropdown-item" asp-page="/Admin/Store/Categories/Index">Categories</a></li>
                            <li><a class="dropdown-item" asp-page="/Admin/Store/Subcategories/Index">SubCategories</a></li>
                            <li><a class="dropdown-item" asp-page="/Admin/Store/Images/Index">Images</a></li>
                            <li><a class="dropdown-item" asp-page="/Admin/Store/Services/Index">Services</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" asp-page="/Admin/Users/Customers/Index">Customers</a></li>
                            <li><a class="dropdown-item" asp-page="/Admin/Users/Staff/Index">Staff</a></li>
                        </ul>
                    </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Maxicycles - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>