@page

@{
    ViewData["Title"] = "Admin Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container mt-5">
        <h1>Welcome to the MaxiCycles Admin Dashboard</h1>
        <p>As an administrator, you have full control over the MaxiCycles website and its operations. Use the navigation above to access different sections of the admin dashboard and manage the website's various aspects.</p>
    </div>
</div>