<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Maxicycles</title>
    <link rel="stylesheet" href="~/scss/custom.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Maxicycles.styles.css" asp-append-version="true"/>
</head>
<body>

<div class="container-fluid d-flex bg-primary justify-content-center py-2">
    <div class="text-white me-4">Tel - 0123456789</div>
    <div class="text-white">Email - contact@maxicycles.co.uk</div>
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 mb-4">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand p-2" asp-page="/Products/Index">
                <img alt="maxicycles logo" src="~/images/logo.svg" height="60px"/>
            </a>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form class="d-flex" role="search" method="get" asp-route-Category="@null" asp-route-SubCategory="@null" asp-page="/Products/Index">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                    @await Component.InvokeAsync("Category")
                    <div class="border-top my-3"></div>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
            <button class="btn btn-primary p-2"><i class="fa-solid fa-basket-shopping fa-xl"></i></button>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Maxicycles - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>