@using Maxicycles.Models
@model System.Collections.Generic.List<Maxicycles.Models.Category>

@foreach (var category in Model)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @category.Title
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">View all</a></li>
            @foreach (var subCategory in category.SubCategories)
            {
                <li><a class="dropdown-item" href="#">@subCategory.Title</a></li>
            }
        </ul>
    </li>
}
