@page
@model Maxicycles.Pages.Checkout.CardPaymentModel

@{
    ViewData["Title"] = "CardPayment";
}

<h1>CardPayment</h1>

<h4>Payment</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <p>@Model.TotalPrice</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardInput.Name" class="control-label"></label>
                <input asp-for="CardInput.Name" class="form-control"/>
                <span asp-validation-for="CardInput.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.LongNumber" class="control-label"></label>
                <input asp-for="CardInput.LongNumber" class="form-control"/>
                <span asp-validation-for="CardInput.LongNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.ExpiryDate" class="control-label"></label>
                <input asp-for="CardInput.ExpiryDate" class="form-control"/>
                <span asp-validation-for="CardInput.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.AddressLine1" class="control-label"></label>
                <input asp-for="CardInput.AddressLine1" class="form-control"/>
                <span asp-validation-for="CardInput.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.AddressLine2" class="control-label"></label>
                <input asp-for="CardInput.AddressLine2" class="form-control"/>
                <span asp-validation-for="CardInput.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.City" class="control-label"></label>
                <input asp-for="CardInput.City" class="form-control"/>
                <span asp-validation-for="CardInput.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardInput.Postcode" class="control-label"></label>
                <input asp-for="CardInput.Postcode" class="form-control"/>
                <span asp-validation-for="CardInput.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>