@page
@using Maxicycles.Enums
@model Maxicycles.Pages.Checkout.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="py-5 text-center">
    <h2>Checkout form</h2>
</div>

<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">@Model.BasketModel.BasketItemModels.Count()</span>
        </h4>
        <ul class="list-group mb-3">
            @foreach (var item in Model.BasketModel.BasketItemModels)
            {
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">@item.Title</h6>
                        <small class="text-muted">@item.ItemType</small>
                    </div>
                    <span class="text-muted">£@item.ItemPrice (*@item.Quantity)</span>
                </li>
            }
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (GBP)</span>
                <strong>£@Model.BasketModel.TotalPrice</strong>
            </li>
        </ul>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label asp-for="OrderInput.FirstName" class="form-label">First name</label>
                    <input asp-for="OrderInput.FirstName" class="form-control">
                    <span asp-validation-for="OrderInput.FirstName" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="OrderInput.LastName" class="form-label"></label>
                    <input asp-for="OrderInput.LastName" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.LastName" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="OrderInput.Email" class="form-label"></label>
                    <input asp-for="OrderInput.Email" class="form-control" placeholder="you@example.com">
                    <span asp-validation-for="OrderInput.Email" class="text-danger"></span>

                </div>

                <div class="col-12">
                    <label asp-for="OrderInput.AddressLine1" class="form-label"></label>
                    <input asp-for="OrderInput.AddressLine1" class="form-control"placeholder="1234 Main St">
                    <span asp-validation-for="OrderInput.AddressLine1" class="text-danger"></span>

                </div>

                <div class="col-12">
                    <label asp-for="OrderInput.AddressLine2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input asp-for="OrderInput.AddressLine2" class="form-control" placeholder="Apartment or suite">
                    <span asp-validation-for="OrderInput.AddressLine2" class="text-danger"></span>

                </div>

                <div class="col-md-8">
                    <label asp-for="OrderInput.Country" class="form-label"></label>
                    <select asp-for="OrderInput.Country" class="form-select">
                        <option value="">Choose...</option>
                        <option>United Kingdom</option>
                    </select>
                    <span asp-validation-for="OrderInput.Country" class="text-danger"></span>

                </div>

                <div class="col-md-4">
                    <label asp-for="OrderInput.City" class="form-label"></label>
                    <input asp-for="OrderInput.City" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.City" class="text-danger"></span>

                </div>

                <div class="col-md-3">
                    <label asp-for="OrderInput.Postcode" class="form-label">Postcode</label>
                    <input asp-for="OrderInput.Postcode" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.Postcode" class="text-danger"></span>
                </div>
            </div>
    
            <hr class="my-4">
            
            <h4 class="mb-4">Shipping information</h4>
            
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="same-address" checked>
                <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            
            <div class="col-md-8">
                <label asp-for="OrderInput.DeliveryMethodId" class="form-label"></label>
                <select asp-for="OrderInput.DeliveryMethodId" asp-items="ViewBag.DeliveryMethodId" class="form-select">
                    <option value="">Choose...</option>
                </select>
                <span asp-validation-for="OrderInput.DeliveryMethodId" class="text-danger"></span>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
                <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="debit">Debit card</label>
                </div>
                <div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="paypal">PayPal</label>
                </div>
            </div>

            <div class="row gy-3">
                <div class="col-md-6">
                    <label asp-for="OrderInput.Card.Name" class="form-label"></label>
                    <input asp-for="OrderInput.Card.Name" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.Card.Name" class="text-danger"></span>

                    <small class="text-muted">Full name as displayed on card</small>
                </div>

                <div class="col-md-6">
                    <label asp-for="OrderInput.Card.LongNumber" class="form-label"></label>
                    <input asp-for="OrderInput.Card.LongNumber" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.Card.LongNumber" class="text-danger"></span>

                </div>

                <div class="col-md-3">
                    <label asp-for="OrderInput.Card.ExpiryDate" class="form-label"></label>
                    <input asp-for="OrderInput.Card.ExpiryDate" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.Card.ExpiryDate" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="OrderInput.Card.Cvv" class="form-label">CVV</label>
                    <input asp-for="OrderInput.Card.Cvv" class="form-control" placeholder="">
                    <span asp-validation-for="OrderInput.Card.Cvv" class="text-danger"></span>

                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
        </form>
    </div>
</div>