@page
@model OrderConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Order Confirmed!</h1>
<h2>Thank you for shopping at maxicycles.</h2>
<h3>Your order can be viewed here, and a receipt will be sent to your email address</h3>